:root {
  font-size: 16px;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background-color: beige; /* 背景色をつけたい場合 */
  margin: 0;
  padding: 0;
}

#container {
  max-width: 800px; /* 100vw で全幅 */
  background-color: white;
  margin: 0 auto;
}

/* ヘッダー */
header {
  position: relative;
  background-image: url('fig/header-img.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; /* contain */
  height: 300px;
}

header h1 {
  font-size: 3em;
  margin-top: 0;
  text-align: center;
}

header p {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

/* ページ内リンク */
nav {
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between; /* space-around*/
  padding: 0.5em;
}

nav a {
  display: block;
  width: 25%; /* リンクの個数で変える */
  color: saddlebrown; /* リンクの文字色 */
  text-align: center;
  text-decoration: none;
}

/* セクション */
section {
  margin-top: 1.5em;
  padding: 1em;
}

section h1 {
  background-color: wheat;
  padding: 0.5em 1em;
  border-radius: 1.25em;
}

/* セクションで交互に背景色 */
section:nth-of-type(even) {
  background-color: snow;
}

/* 要素を横並びにしてみる */
section:nth-of-type(even) .flex-container {
  display: flex;
}

section:nth-of-type(even) p {
  background-color: honeydew;
  width: 50%;
}

/* フッター */
footer {
  margin-top: 1.5em;
  padding: 1em;
  background-color: lightgrey;
}
